@import 'styles/common';

.gauge {
    position: relative;
    width: 100px;
    height: 100px;
    border: 10px solid var(--color-primary);
    border-radius: 100%;

    &[data-quarter='0'] {
        animation: borderTopToTransparent var(--transition-duration) ease var(--transition-duration) forwards,
            borderRightToTransparent var(--transition-duration) ease calc(2 * var(--transition-duration)) forwards,
            borderBottomToTransparent var(--transition-duration) ease calc(3 * var(--transition-duration)) forwards,
            borderLeftToTransparent var(--transition-duration) ease calc(4 * var(--transition-duration)) forwards;
    }
    &[data-quarter='1'] {
        animation: borderTopToTransparent var(--transition-duration) ease var(--transition-duration) forwards,
            borderRightToTransparent var(--transition-duration) ease calc(2 * var(--transition-duration)) forwards,
            borderBottomToTransparent var(--transition-duration) ease calc(3 * var(--transition-duration)) forwards;
    }
    &[data-quarter='2'] {
        animation: borderTopToTransparent var(--transition-duration) ease var(--transition-duration) forwards,
            borderRightToTransparent var(--transition-duration) ease calc(2 * var(--transition-duration)) forwards;
    }
    &[data-quarter='3'] {
        animation: borderTopToTransparent var(--transition-duration) ease var(--transition-duration) forwards;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        background-color: var(--color-background-1);
        width: 130%;
        height: 10px;
        transform: rotate(-45deg);
    }
    &::after {
        bottom: 0;
        left: 0;
        transform-origin: left;
        transform: rotate(-45deg);
    }
    &::before {
        bottom: 0;
        right: 0;
        transform-origin: right;
        transform: rotate(45deg);
    }
}

.value {
    position: absolute;
    z-index: 1;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-l;
}

.count {
    position: absolute;
    z-index: 1;
    bottom: $space-xs;
    text-align: center;
    width: 100%;
    font-size: $font-size-xs;
}
