@import 'styles/common';

.covers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto min-content;
    grid-gap: $space-m;
    max-width: $desktop-break;
    width: 100%;
    margin: 0 auto;
}

.paginator {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
