@import './fontSizes';
@import './breakpoints';

@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Indie+Flower&family=Varela&display=swap');

$font-family-base: 'Varela', sans-serif;
$font-family-alternative: 'Six Caps', sans-serif;
$font-family-bio: 'Indie Flower', cursive;

:root {
    --letter-spacing: 0.05em;
}

@mixin font-base($font-size: $font-size-base, $font-weight: 300, $color: var(--color-text-1)) {
    font: {
        family: $font-family-base;
        size: $font-size;
        weight: $font-weight;
    }
    color: $color;
    transition: color var(--transition-duration) ease;
}

@mixin font-alternative($font-size: $font-size-base, $color: var(--color-text-1)) {
    font: {
        family: $font-family-alternative;
        size: $font-size;
    }
    color: $color;
    letter-spacing: var(--letter-spacing);
    transition: color var(--transition-duration) ease;
}

@mixin font-bio($font-size: $font-size-base, $color: var(--color-text-1)) {
    font: {
        family: $font-family-bio;
        size: $font-size;
    }
    color: $color;
    letter-spacing: 0.1em;
}

body {
    @include font-base;
    line-height: 1.6;
}

h1 {
    @include font-alternative($font-size-xxl);
}

h2 {
    @include font-alternative($font-size-xl, var(--color-text-2));
}

h3 {
    @include font-alternative($font-size-l, var(--color-text-2));
}

a {
    color: var(--color-text-1);
    transition: color var(--transition-duration) ease;

    &:hover {
        color: var(--color-primary);
    }
}

@media only screen and (min-width: $desktop-break) {
    :root {
        --letter-spacing: 0.15em;
    }
}
