@import 'styles/common';

.main {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    background-color: var(--color-background-1);
    transition: background var(--transition-duration) ease;

    .content {
        display: grid;
        justify-items: center;
        max-width: $desktop-break;
        min-height: calc(100vh - 220px);
        width: 100%;
        margin: 0 auto;
        padding: $space-xl $space-m;    
    }
}